openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
    Jelaskan disini apa saja yang perlu dijelaskan
    termasuk informasi yang diperlukan untuk dinilai
    term of service isi dari link repo dari swagger ini
  termsOfService: https://github.com/erfahtech/swagger
  contact:
    url: https://eio.my.id
  license:
    name: UrSmartEcosystem Package
    url: https://pkg.go.dev/github.com/erfahtech/be_erfahtech
  version: 1.0.11
externalDocs:
  description: Repository GCF
  url: https://github.com/erfahtech/gcf/
servers:
  - url: https://asia-southeast2-urse-project.cloudfunctions.net/
tags:
  - name: signup
    description: Signup User
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://erfahtech.github.io/gcf/signup/
  - name: login
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://erfahtech.github.io/gcf/login/
  - name: user
    description: Get Token and Authorize
paths:
  /post-signUp:
    post:
      tags:
        - signup
      summary: SingUp Data User
      description: Signup Data User
      operationId: postUserJSON
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Signup"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SignupResponse"
        "405":
          description: Invalid input
  /post-login:
    post:
      tags:
        - login
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Login"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "405":
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    Signup:
      type: object
      properties:
        email:
          type: string
          example: email@gmail.com
        username:
          type: string
          example: erfah
        password:
          type: string
          example: secret
    Login:
      type: object
      properties:
        email:
          type: string
          example: erfah@gmail.com
        password:
          type: string
          example: secret
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy
    SignupResponse:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: "Akun berhasil dibuat untuk username: erfah"
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Auth"
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AuthResponse"
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
